<a href="#">+Add</a>
<br>
{% for c in tabStudent %}
    id : {{ c.nce }}
    username:{{ c.username }}
    moyenne: {{ c.moyenne }}
    <a href="#">Delete</a>
    <a href="#">Update</a>
   <br>
{% endfor %}